<div class="user-container">
  <button>
    <img src="assets/users/user-1.jpg" alt="user" />
    <span>Jane Smith</span>
  </button>
  <button>
    <img src="assets/users/user-2.jpg" alt="user" />
    <span>Julie Smith</span>
  </button>
  <button>
    <img src="assets/users/user-3.jpg" alt="user" />
    <span>April Smith</span>
  </button>
  <button>
    <img src="assets/users/user-4.jpg" alt="user" />
    <span>John Smith</span>
  </button>
  <button>
    <img src="assets/users/user-5.jpg" alt="user" />
    <span>Rebeka Smith</span>
  </button>
</div>
