<div class="task-container">
  <div class="header">
    <h2>Jane Smith's Tasks</h2>
    <button>Add Task</button>
  </div>
  <div class="tasks">
    <div class="task">
      <div class="task-header">
        <p>Master Angular</p>
        <span>Friday, February 21, 2025</span>
      </div>
      <div class="task-content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
      <div class="task-action">
        <button class="btn update">Update</button>
        <button class="btn delete">Delete</button>
      </div>
    </div>
  </div>
</div>
